<section>
    <div class="mt-5">
        <div id="picks_id" class="container">
            <div class="justify-content-between mb-3">
                <div class="m-3">
                    <ul class="d-flex cricle">
                        <li><i class="fa fa-genderless gender1"></i></li>
                        <li><i class="fa fa-genderless gender2"></i></li>
                        <li><i class="fa fa-genderless gender3"></i></li>
                        <li><i class="fa fa-genderless gender4"></i></li>
                        <li><i class="fa fa-genderless gender5"></i></li>
                        <li class="trending">EDITOR'S PICKS</li>
                    </ul>
                </div>
            </div>

            <div class="row mb-3 ipap_block">
                <div class="col-md-8 ipap_slide">
                    <div class="row m-1 mt-4">
                        <div class="col-md-6 position-relative">
                            <div class="zoom">
                                <img src="./assets/img/images/sec9_img1.jpg" alt="">
                            </div>
                            <div class="justify-content-between d-flex content m-3">

                                <p class=""><a href="" class="travel text_same">travel</a>
                                <div class="icon_video">
                                    <i class="fa fa-video-camera"></i>
                                </div>

                            </div>
                            <div class="post-info">
                                <p class="bulum">Magalla Magazine - News and Business Blog by EA-Studio
                                </p>
                                <p class="size12 opacity6">
                                    <i class="fa fa-calendar"></i> 20 jan 2019 |
                                    <i class="fa fa-commenting"></i> 95
                                </p>

                            </div>
                        </div>

                        <div class="col-md-6 position-relative mobi_avt">
                            <div class="zoom">
                                <img src="./assets/img/images/sec9_img2.jpg" alt="">
                            </div>

                            <div class="justify-content-between d-flex content m-3">

                                <p class=""><a href="" class="travel text_same">travel</a>
                                </p>
                                <div class="icon_video">
                                    <i class="fa fa-video-camera"></i>
                                </div>

                            </div>

                            <div class="post-info">
                                <p class="bulum">Magalla Magazine - News and Business Blog by EA-Studio
                                </p>
                                <p class="size12 opacity6">
                                    <i class="fa fa-calendar"></i> 20 jan 2019 |
                                    <i class="fa fa-commenting"></i> 95
                                </p>

                            </div>
                        </div>

                    </div>

                    <div class="row m-1 mt-4">
                        <div class="col-md-6 position-relative">
                            <div class="zoom">
                                <img src="./assets/img/images/sec9_img3.jpg" alt="">
                            </div>

                            <div class="justify-content-between d-flex content m-3">

                                <p class=""><a href="" class="tech text_same">it-tech</a>
                                </p>
                                <div class="icon_video">
                                    <i class="fa fa-image"></i>
                                </div>

                            </div>
                            <div class="post-info">
                                <p class="bulum">Magalla Magazine - News and Business Blog by EA-Studio
                                </p>
                                <p class="size12 opacity6">
                                    <i class="fa fa-calendar"></i> 20 jan 2019 |
                                    <i class="fa fa-commenting"></i> 95
                                </p>

                            </div>

                        </div>

                        <div class="col-md-6 position-relative mobi_avt">
                            <div class="zoom">
                                <img src="./assets/img/images/sec9_img4.jpg" alt="">
                            </div>

                            <div class="justify-content-between d-flex content m-3">

                                <p class=""><a href="" class="travel text_same">travel</a>
                                </p>

                                <div class="icon_video">
                                    <i class="fa fa-video-camera"></i>
                                </div>
                            </div>
                            <div class="post-info">
                                <p class="bulum">Magalla Magazine - News and Business Blog by EA-Studio
                                </p>
                                <p class="size12 opacity6">
                                    <i class="fa fa-calendar"></i> 20 jan 2019 |
                                    <i class="fa fa-commenting"></i> 95
                                </p>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-4 ipap_slide widthauto">
                    <div class="mt-4 ml-3 mb-3 mr-3 bg-light">
                        <p class="cadetblue_bg text_white p-2">MOST VIEWED
                        </p>

                        <div class="post-item">
                            <div class="d-flex">
                                <p class="opacity6" style="font-size: 45px;">1</p>
                                <p class="text-normal m-3">The great British Brexit robbery: how our
                                    democracy
                                    was
                                    hijacked.
                                </p>
                            </div>
                            <hr class="mt-1">
                        </div>


                        <div class="post-item">
                            <div class="d-flex">
                                <p class="opacity6" style="font-size: 45px;">2</p>
                                <p class="text-normal m-3"><i class="fa fa-video-camera cadetblue_color"></i>
                                    FCC claims comment system attacked after John Oliver's net neutrality
                                    segmet
                                </p>
                            </div>

                            <hr class="mt-1">
                        </div>

                        <div class="post-item">
                            <div class="d-flex">
                                <p class="opacity6" style="font-size: 45px;">3</p>
                                <p class="text-normal m-3">Mean stream: how YouTube prank channel DaddyOFive
                                    enraged the internet
                                </p>
                            </div>

                            <hr class="mt-1">
                        </div>

                        <div class="post-item">
                            <div class="d-flex">
                                <p class="opacity6" style="font-size: 45px;">4</p>
                                <p class="text-normal m-3"><i class="fa fa-video-camera cadetblue_color"></i>
                                    Facebook employs ex-political aldes to help campaigns target voters
                                </p>
                            </div>

                            <hr class="mt-1">
                        </div>

                        <div class="post-item">
                            <div class="d-flex">
                                <p class="opacity6" style="font-size: 45px;">5</p>
                                <p class="text-normal m-3">Prey review: sci-fi sooter mashup is less
                                    than sum of its parts
                                </p>
                            </div>
                            <hr class="mt-1">
                        </div>

                        <div class="post-item mt-3">
                            <img src="./assets/img/images/sec9_img5.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="bg_black mt-4 opacity6">
    </div>

</section>