<app-header-page></app-header-page>
<main>
    <app-sec-logo></app-sec-logo>
    <div id="secMobile" class="mt-3">
        <div class="page_background bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ipap_slide">
                        <div class="sec_imgheader">
                            <img src="./assets/img/images/sec3_img1.jpg" alt="">
                        </div>

                        <div class="mt-4 bottom">
                            <p class="text_business">Business : Magazine WordPress Theme</p>
                            <p class="size14 opacity6 mt-2 mb-4">
                                <i class="fa fa-calendar"></i>20 jan 2019 |
                                <i class="fa fa-commenting"></i>05
                                |<a href="" class="color_555"> Category: Business</a>
                            </p>

                        </div>
                        <p class="cliquam size16 color_555">Cliquam eget arcu magna, vel congue dui. Nunc auctor
                            mauris tempor
                            leo aliquam vel porta ante sodales. msan ceonling vento …
                        </p>
                        <p class="cliquam size16 color_555 opacity6">Everyone is looking to lose weight these days,
                            but most
                            people miss the one key to just how easy it really is: eating more fiber! While you need
                            protein…
                        </p>


                        <p class="blockquote size16 mt-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                            sed diam
                            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        </p>

                        <p class="cliquam mt-4 size16">Typi non habent claritatem insitam; est usus legentis in iis
                            qui facit
                            eorum claritatem. Investigationes monstraverunt lectores legere me lius quod ii legunt
                            saepius. Claritas est etiam processus dynamicus
                        </p>

                        <div class="frames bottom">
                            <div class="follow d-flex mt-4 rounded-circle pb-4 mb-4">
                                <p class="blue_bg rounded-circle"><a href=""><i class="fa fa-facebook"></i></a></p>
                                <p class="sky_bg rounded-circle"><a href=""><i class="fa fa-twitter"></i></a></p>
                                <p class="brown_bg rounded-circle"><a href=""><i class="fa fa-pinterest-p"></i></a>
                                </p>
                                <p class="bg_gray rounded-circle"><a href=""><i class="fa fa-envelope-o"></i></a>
                                </p>
                                <p class="red_bg rounded-circle"><a href=""><i class="fa fa-google"></i></a></p>
                                <p class="blue_bg rounded-circle"><a href=""><i class="fa fa-linkedin"></i></a></p>
                                <p class="green_bg rounded-circle"><a href=""><i class="fa fa-tumblr"></i></a></p>
                            </div>

                        </div>


                        <div class="post-meta">
                            <div class="imgLogo_more">
                                <img src="./assets/img/images/logo_moreSec.jpg" alt="">
                            </div>

                            <div class="article-info">
                                <p class="cliquam size16">Written By</p>
                                <p class="uptheme color_555">7uptheme</p>
                                <p class="cliquam size16">administrator</p>
                            </div>
                        </div>

                        <div class="text_control">
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="size16 color_555">Features which changed computer world</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="size16 color_555 float-right">Magalla Magazine – News and Business
                                        Blog</p>
                                </div>
                            </div>
                        </div>


                        <div class="mt-4 cricle">
                            <ul class="d-flex">
                                <li><i class="fa fa-genderless gender1"></i></li>
                                <li><i class="fa fa-genderless gender2"></i></li>
                                <li><i class="fa fa-genderless gender3"></i></li>
                                <li><i class="fa fa-genderless gender4"></i></li>
                                <li><i class="fa fa-genderless gender5"></i></li>
                                <li class="trending">You may also like</li>
                            </ul>
                        </div>

                        <div class="row mt-4">
                            <div class="col-md-6 position-relative">
                                <div class="zoom">
                                    <img src="./assets/img/images/more1.jpg" alt="">
                                </div>
                                <div class="justify-content-between d-flex content m-3">

                                    <p class=""><a href="" class="busines text_same">travel</a>
                                    <div class="icon_video">
                                        <i class="fa fa-video-camera"></i>
                                    </div>

                                </div>
                                <div class="bottom">
                                    <p class="bulum mt-3 size16 color_555">Magalla Magazine - News and Business Blog
                                        by EA-Studio
                                    </p>
                                    <p class="size12 opacity6 mt-3 pb-4">
                                        <i class="fa fa-calendar"></i>20 jan 2019 |
                                        <i class="fa fa-commenting"></i> 95
                                    </p>

                                </div>

                                <p class="size16 color_555 opacity8">Everyone is looking to lose weight</p>

                                <p class="more">
                                    <a class="opacity8">Read More</a>
                                </p>


                            </div>

                            <div class="col-md-6 position-relative mobi_avt">
                                <div class="zoom">
                                    <img src="./assets/img/images/more2.jpg" alt="">
                                </div>

                                <div class="justify-content-between d-flex content m-3">

                                    <p class=""><a href="" class="busines text_same">busines</a>
                                    </p>
                                    <div class="icon_video">
                                        <i class="fa fa-video-camera"></i>
                                    </div>

                                </div>

                                <div class="bottom">
                                    <p class="bulum mt-3 size16 color_555">Eminem Comes Out Of Woodwork To Raise
                                        Millions For Manchester
                                    </p>
                                    <p class="size12 opacity6 mt-3 pb-4">
                                        <i class="fa fa-calendar"></i>20 jan 2019 |
                                        <i class="fa fa-commenting"></i> 95
                                    </p>

                                </div>

                                <p class="size16 color_555 opacity8">Everyone is looking to lose weight</p>

                                <p class="more">
                                    <a class="opacity8">Read More</a>
                                </p>

                            </div>

                        </div>


                        <div id="respond" class="comment-respond mt-4">
                            <p class="leave color_555">Leave a reply </p>
                            <input type="checkbox">
                            <label for="">Save my name, email, and website in this browser for the next time I
                                comment.
                            </label>

                            <p class="cliquam opacity8 size16 mt-4 more">Your email address will not be published.
                                Required fields are marked
                                *
                            </p>


                            <form action="">
                                <div class="d-flex flex-column">
                                    <input type="text" id="author" name="author" placeholder="Name *" class="opacity6">
                                    <input type="email" id="email" name="email" placeholder="Email *" class="opacity6">
                                    <textarea name="comment" form="usrform" placeholder="Your comment *"
                                        class="message opacity6"></textarea>
                                </div>

                                <div class="more">
                                    <input name="submit" id="submit" type="submit" class="text_white"
                                        value="Post a comment">
                                </div>
                            </form>
                        </div>



















                    </div>


                    <div class="col-md-4 mobi_avt ipap_slide pading">
                        <div class="borderbottom"></div>
                        <div class="group_same">
                            <div class="justify-content-between d-flex bottom">
                                <div class="m-3 cricle">
                                    <ul class="d-flex">
                                        <li><i class="fa fa-genderless gender1"></i></li>
                                        <li><i class="fa fa-genderless gender2"></i></li>
                                        <li><i class="fa fa-genderless gender3"></i></li>
                                        <li><i class="fa fa-genderless gender4"></i></li>
                                        <li><i class="fa fa-genderless gender5"></i></li>
                                        <li class="trending">Trending</li>
                                    </ul>
                                </div>

                                <div class="homemobi">
                                    <ul class="d-flex arow">
                                        <li class="cham_change"><i class="fa fa-arrow-left arowL"></i></li>
                                        <li class="cham_change"><i class="fa fa-arrow-right arowR"></i></li>
                                    </ul>
                                </div>

                            </div>


                            <div class="d-flex changeslide">
                                <div class="div">
                                    <div class="post-item cricle pl-3">
                                        <div class="post-thumb post-with9">
                                            <div class="zoom">
                                                <img src="./assets/img/images/sec2_img5.jpg" alt="">
                                            </div>

                                        </div>

                                        <div class="post-info">
                                            <a href="#" class="fashion">Fashion</a>
                                            <p class="bold">Diana say: Vlogging</p>
                                            <p class="size12 opacity6">
                                                <i class="fa fa-calendar"></i> 20 jun 2019 |
                                                <i class="fa fa-commenting"></i> 10
                                            </p>

                                        </div>

                                    </div>



                                    <div class="post-item cricle pl-3">
                                        <div class="post-thumb post-with9">
                                            <div class="zoom">
                                                <img src="./assets/img/images/fashion1.jpg" alt="">
                                            </div>
                                        </div>

                                        <div class="post-info">
                                            <a href="#" class="fashion">Fashion</a>
                                            <p class="bold">Diana say: Vlogging</p>
                                            <p class="size12 opacity6">
                                                <i class="fa fa-calendar"></i> 20 jun 2019 |
                                                <i class="fa fa-commenting"></i> 10
                                            </p>

                                        </div>

                                    </div>

                                    <div class="post-item cricle pl-3">
                                        <div class="post-thumb post-with9">
                                            <div class="zoom">
                                                <img src="./assets/img/images/sec2_img1.jpg" alt="">
                                            </div>
                                        </div>

                                        <div class="post-info">
                                            <a href="#" class="fashion">Fashion</a>
                                            <p class="bold">Diana say: Vlogging</p>
                                            <p class="size12 opacity6">
                                                <i class="fa fa-calendar"></i> 20 jun 2019 |
                                                <i class="fa fa-commenting"></i> 10
                                            </p>

                                        </div>

                                    </div>
                                </div>

                                <div class="div">
                                    <div class="post-item cricle pl-3">
                                        <div class="post-thumb post-with9">
                                            <div class="zoom">
                                                <img src="./assets/img/images/sec2_img5.jpg" alt="">
                                            </div>

                                        </div>

                                        <div class="post-info">
                                            <a href="#" class="tech">Fashion</a>
                                            <p class="bold">Diana say: Vlogging</p>
                                            <p class="size12 opacity6">
                                                <i class="fa fa-calendar"></i> 20 jun 2019 |
                                                <i class="fa fa-commenting"></i> 10
                                            </p>

                                        </div>

                                    </div>



                                    <div class="post-item cricle pl-3">
                                        <div class="post-thumb post-with9">
                                            <div class="zoom">
                                                <img src="./assets/img/images/fashion1.jpg" alt="">
                                            </div>
                                        </div>

                                        <div class="post-info">
                                            <a href="#" class="tech">Fashion</a>
                                            <p class="bold">Diana say: Vlogging</p>
                                            <p class="size12 opacity6">
                                                <i class="fa fa-calendar"></i> 20 jun 2019 |
                                                <i class="fa fa-commenting"></i> 10
                                            </p>

                                        </div>

                                    </div>

                                    <div class="post-item cricle pl-3">
                                        <div class="post-thumb post-with9">
                                            <div class="zoom">
                                                <img src="./assets/img/images/sec2_img1.jpg" alt="">
                                            </div>
                                        </div>

                                        <div class="post-info">
                                            <a href="#" class="tech">Fashion</a>
                                            <p class="bold">Diana say: Vlogging</p>
                                            <p class="size12 opacity6">
                                                <i class="fa fa-calendar"></i> 20 jun 2019 |
                                                <i class="fa fa-commenting"></i> 10
                                            </p>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="mt-5 ipap_flex">
                            <div class="borderbottom none"></div>

                            <div class="group_same mobi_inlineBlock">
                                <div class="m-3 cricle">
                                    <ul class="d-flex">
                                        <li><i class="fa fa-genderless gender1"></i></li>
                                        <li><i class="fa fa-genderless gender2"></i></li>
                                        <li><i class="fa fa-genderless gender3"></i></li>
                                        <li><i class="fa fa-genderless gender4"></i></li>
                                        <li><i class="fa fa-genderless gender5"></i></li>
                                        <li class="trending">Recenct posts</li>
                                    </ul>
                                </div>

                                <div class="zoom cricle m-3">
                                    <img src="./assets/img/images/mobi2.jpg" alt="">
                                </div>

                                <div class="post-item cricle m-3">

                                    <div class="post-thumb post-with65 zoom">
                                        <img src="./assets/img/images/sec3_img2.jpg" alt="" style="width: 50; height: 50;">
                                    </div>

                                    <div class="post-info">
                                        <p class="cliquam">Magalla Magazine – News and Business Blog by
                                            EA-Studio
                                        </p>
                                        <p class="size12 opacity6">
                                            <i class="fa fa-calendar"></i> 20 jan 2019 |
                                            <i class="fa fa-commenting"></i> 05
                                        </p>

                                    </div>

                                </div>

                                <div class="post-item cricle m-3">

                                    <div class="post-thumb post-with65 zoom">
                                        <img src="./assets/img/images/sec3_img5.jpg" alt="" style="width: 50; height: 50;">
                                    </div>

                                    <div class="post-info">
                                        <p class="cliquam">Eminem Comes Out Of Woodwork To Raise Millions For
                                            Manchester
                                        </p>
                                        <p class="size12 opacity6">
                                            <i class="fa fa-calendar"></i> 20 jan 2019 |
                                            <i class="fa fa-commenting"></i> 05
                                        </p>

                                    </div>

                                </div>

                                <div class="post-item cricle m-3">

                                    <div class="post-thumb post-with65 zoom">
                                        <img src="./assets/img/images/sec3_img7.jpg" alt="" style="width: 50; height: 50;">
                                    </div>

                                    <div class="post-info">
                                        <p class="cliquam">Magalla Magazine – News and Business Blog by
                                            EA-Studio
                                        </p>
                                        <p class="size12 opacity6">
                                            <i class="fa fa-calendar"></i> 20 jan 2019 |
                                            <i class="fa fa-commenting"></i> 05
                                        </p>

                                    </div>

                                </div>

                                <div class="post-item cricle m-3">

                                    <div class="post-thumb post-with65 zoom">
                                        <img src="./assets/img/images/sec3_img6.jpg" alt="" style="width: 50; height: 50;">
                                    </div>

                                    <div class="post-info">
                                        <p class="cliquam">Magalla Magazine – News and Business Blog by
                                            EA-Studio
                                        </p>
                                        <p class="size12 opacity6">
                                            <i class="fa fa-calendar"></i> 20 jan 2019 |
                                            <i class="fa fa-commenting"></i> 05
                                        </p>

                                    </div>

                                </div>
                            </div>

                            <div class="effect">
                                <div class="zoom">
                                    <img src="./assets/img/images/sec6_img6.jpg" alt="">
                                </div>
                                <div class="more">
                                    <h2>My book with tour!
                                        <!-- <h3>myTour.vn</h3> -->
                                    </h2>
                                    <h3>myTour.vn</h3>
                                    <a href="">Learn More</a>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer-page></app-footer-page>