<app-header-page></app-header-page>
<main>
    <app-sec-logo></app-sec-logo>

    <div id="secMobile" class="mt-3">
        <div class="page_background bottom">
            <div class="container">

                <div class="row">
                    <div class="col-md-8 ipap_slide">
                        <div class="borderbottom"></div>
                        <div class="justify-content-between d-flex bottom">
                            <div class="cricle m-3">
                                <ul class="d-flex">
                                    <li><i class="fa fa-genderless gender1"></i></li>
                                    <li><i class="fa fa-genderless gender2"></i></li>
                                    <li><i class="fa fa-genderless gender3"></i></li>
                                    <li><i class="fa fa-genderless gender4"></i></li>
                                    <li><i class="fa fa-genderless gender5"></i></li>
                                    <li class="trending">Fashion</li>
                                </ul>
                            </div>

                            <div class="homemobi">
                                <div class="m-2">Home / IT-Tech</div>
                            </div>
                        </div>

                        <div class="mb-4">


                            <div class="row cricle m-3">
                                <div class="col-md-6">
                                    <div class="zoom">
                                        <img src="./assets/img/images/ittech1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6 colum2">

                                    <p class="bold">Magalla Magazine – News and Business Blog by EA-Studio</p>
                                    <p class="size12 opacity6">
                                        <i class="fa fa-calendar"></i> 20 jan 2019 |
                                        <i class="fa fa-commenting"></i> 05
                                    </p>
                                    <p class="cliquam">Cliquam eget arcu magna, vel congue dui. Nunc autor
                                        mauris tempor
                                        leo aliquam vel porta ante sodales, msan ceonling vento ...
                                    </p>
                                    <p class="more">
                                        <a routerLink="more" class="opacity8">Read More</a>
                                    </p>

                                </div>
                            </div>

                            <div class="row cricle m-3">
                                <div class="col-md-6 mobi_avt">
                                    <div class="zoom">
                                        <img src="./assets/img/images/itech2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6 colum2">

                                    <p class="bold">Porter Betrays Loyal Fliers With Abrupt Cookie Switcheroo</p>
                                    <p class="size12 opacity6">
                                        <i class="fa fa-calendar"></i> 20 jan 2019 |
                                        <i class="fa fa-commenting"></i> 05
                                    </p>
                                    <p class="cliquam">Cliquam eget arcu magna, vel congue dui. Nunc auctor
                                        mauris tempor leo aliquam vel porta ante sodales. msan ceonling vento ...
                                    </p>
                                    <p class="more">
                                        <a routerLink="more" class="opacity8">Read More</a>
                                    </p>

                                </div>
                            </div>


                            <div class="row cricle m-3">
                                <div class="col-md-6 mobi_avt">
                                    <div class="zoom">
                                        <img src="./assets/img/images/itech3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6 colum2">

                                    <p class="bold">As American Oil Booms Anew, Saudi Chief Promises ‘Whatever It
                                        Takes’ To Rebalance Market</p>
                                    <p class="size12 opacity6">
                                        <i class="fa fa-calendar"></i> 20 jan 2019 |
                                        <i class="fa fa-commenting"></i> 05
                                    </p>
                                    <p class="cliquam">Everyone is looking to lose weight these days, but
                                        most
                                        people miss the one key to just how easy it really
                                    </p>
                                    <p class="more">
                                        <a routerLink="more" class="opacity8">Read More</a>
                                    </p>

                                </div>
                            </div>

                            <div class="row cricle m-3">
                                <div class="col-md-6 mobi_avt">
                                    <div class="zoom">
                                        <img src="./assets/img/images/itech4.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6 colum2">

                                    <p class="bold">Bulum iaculis lacinia est.</p>
                                    <p class="size12 opacity6">
                                        <i class="fa fa-calendar"></i> 20 jan 2019 |
                                        <i class="fa fa-commenting"></i> 05
                                    </p>
                                    <p class="cliquam">Everyone is looking to lose weight these days, but
                                        most
                                        people miss the one key to just how easy it really is: eating more fiber!
                                        ...
                                    </p>
                                    <p class="more">
                                        <a routerLink="more" class="opacity8">Read More</a>
                                    </p>

                                </div>
                            </div>

                            <div class="row cricle m-3">
                                <div class="col-md-6 mobi_avt">
                                    <div class="zoom">
                                        <img src="./assets/img/images/sec3_img1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6 colum2">

                                    <p class="bold">Krypton: Responsive Business and Proin dictum elemntum</p>
                                    <p class="size12 opacity6">
                                        <i class="fa fa-calendar"></i> 20 jan 2019 |
                                        <i class="fa fa-commenting"></i> 05
                                    </p>
                                    <p class="cliquam">Cliquam eget arcu magna, vel congue dui. Nunc auctor
                                        mauris tempor leo aliquam vel porta ante sodales. msan ceonling vento ...
                                    </p>
                                    <p class="more">
                                        <a routerLink="more" class="opacity8">Read More</a>
                                    </p>

                                </div>
                            </div>

                            <div class="row cricle m-3">
                                <div class="col-md-6 mobi_avt">
                                    <div class="zoom">
                                        <img src="./assets/img/images/itech5.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6 colum2">

                                    <p class="bold">Nemo Enim Ipsam Volup latim monla</p>
                                    <p class="size12 opacity6">
                                        <i class="fa fa-calendar"></i> 20 jan 2019 |
                                        <i class="fa fa-commenting"></i> 05
                                    </p>
                                    <p class="cliquam">Cliquam eget arcu magna, vel congue dui. Nunc autor
                                        mauris tempor
                                        leo aliquam vel porta ante sodales, msan ceonling vento ...
                                    </p>
                                    <p class="more">
                                        <a routerLink="more" class="opacity8">Read More</a>
                                    </p>

                                </div>
                            </div>

                            <div class="row cricle m-3">
                                <div class="col-md-6 mobi_avt">
                                    <div class="zoom">
                                        <img src="./assets/img/images/itech6.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6 colum2">

                                    <p class="bold">Why it’s the year to wear what you like not</p>
                                    <p class="size12 opacity6">
                                        <i class="fa fa-calendar"></i> 20 jan 2019 |
                                        <i class="fa fa-commenting"></i> 05
                                    </p>
                                    <p class="cliquam">Everyone is looking to lose weight these days, but
                                        most
                                        people miss the one key to just how easy it really is: eating more fiber!
                                        ...
                                    </p>
                                    <p class="more">
                                        <a routerLink="more" class="opacity8">Read More</a>
                                    </p>

                                </div>
                            </div>

                            <div class="row cricle m-3">
                                <div class="col-md-6 mobi_avt">
                                    <div class="zoom">
                                        <img src="./assets/img/images/mobi2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6 colum2">

                                    <p class="bold">Why it’s the year to wear what you like not</p>
                                    <p class="size12 opacity6">
                                        <i class="fa fa-calendar"></i> 20 jan 2019 |
                                        <i class="fa fa-commenting"></i> 05
                                    </p>
                                    <p class="cliquam">Everyone is looking to lose weight these days, but
                                        most
                                        people miss the one key to just how easy it really is: eating more fiber!
                                        ...
                                    </p>
                                    <p class="more">
                                        <a routerLink="more" class="opacity8">Read More</a>
                                    </p>

                                </div>
                            </div>


                            <div class="row cricle m-3">
                                <div class="col-md-6 mobi_avt">
                                    <div class="zoom">
                                        <img src="./assets/img/images/mobi3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6 colum2">

                                    <p class="bold">Magalla Magazine – News and Business Blog by EA-Studio</p>
                                    <p class="size12 opacity6">
                                        <i class="fa fa-calendar"></i> 20 jan 2019 |
                                        <i class="fa fa-commenting"></i> 05
                                    </p>
                                    <p class="cliquam">Everyone is looking to lose weight these days, but
                                        most
                                        people miss the one key to just how easy it really is: eating more fiber!
                                        ...
                                    </p>
                                    <p class="more">
                                        <a routerLink="more" class="opacity8">Read More</a>
                                    </p>

                                </div>
                            </div>


                            <div class="nextpage m-4">
                                <ul class="d-flex">

                                    <li class="cadetblue_bg"><a href="itTech.html" class="text_white">1</a></li>
                                    <li><a href="itTechPage2.html">2</a></li>
                                    <li><a href="itTechPage2.html"><i class="fa fa-arrow-right"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>


                    <div class="col-md-4 mobi_avt ipap_slide pading">
                        <div class="borderbottom"></div>
                        <div class="group_same">
                            <div class="justify-content-between d-flex bottom">
                                <div class="cricle m-3">
                                    <ul class="d-flex">
                                        <li><i class="fa fa-genderless gender1"></i></li>
                                        <li><i class="fa fa-genderless gender2"></i></li>
                                        <li><i class="fa fa-genderless gender3"></i></li>
                                        <li><i class="fa fa-genderless gender4"></i></li>
                                        <li><i class="fa fa-genderless gender5"></i></li>
                                        <li class="trending">Trending</li>
                                    </ul>
                                </div>

                                <div class="homemobi">
                                    <ul class="d-flex arow">
                                        <li><i class="fa fa-arrow-left arowL"></i></li>
                                        <li><i class="fa fa-arrow-right arowR"></i></li>
                                    </ul>
                                </div>

                            </div>

                            <div class="d-flex changeslide">
                                <div class="div">
                                    <div class="post-item cricle pl-3">
                                        <div class="post-thumb post-with9">
                                            <div class="zoom">
                                                <img src="./assets/img/images/sec2_img5.jpg" alt="">
                                            </div>
                                        </div>

                                        <div class="post-info">
                                            <a href="#" class="fashion">Fashion</a>
                                            <p class="bold">Diana say: Vlogging</p>
                                            <p class="size12 opacity6">
                                                <i class="fa fa-calendar"></i> 20 jun 2019 |
                                                <i class="fa fa-commenting"></i> 10
                                            </p>

                                        </div>

                                    </div>



                                    <div class="post-item cricle pl-3">
                                        <div class="post-thumb post-with9">
                                            <div class="zoo">
                                                <img src="./assets/img/images/fashion1.jpg" alt="">
                                            </div>
                                        </div>

                                        <div class="post-info">
                                            <a href="#" class="fashion">Fashion</a>
                                            <p class="bold">Diana say: Vlogging</p>
                                            <p class="size12 opacity6">
                                                <i class="fa fa-calendar"></i> 20 jun 2019 |
                                                <i class="fa fa-commenting"></i> 10
                                            </p>

                                        </div>

                                    </div>

                                    <div class="post-item cricle pl-3">
                                        <div class="post-thumb post-with9">
                                            <div class="zoom">
                                                <img src="./assets/img/images/sec2_img1.jpg" alt="">
                                            </div>
                                        </div>

                                        <div class="post-info">
                                            <a href="#" class="fashion">Fashion</a>
                                            <p class="bold">Diana say: Vlogging</p>
                                            <p class="size12 opacity6">
                                                <i class="fa fa-calendar"></i> 20 jun 2019 |
                                                <i class="fa fa-commenting"></i> 10
                                            </p>

                                        </div>

                                    </div>


                                </div>

                                <div class="div">
                                    <div class="post-item cricle pl-3">
                                        <div class="post-thumb post-with9">
                                            <div class="zoom">
                                                <img src="./assets/img/images/sec2_img5.jpg" alt="">
                                            </div>
                                        </div>

                                        <div class="post-info">
                                            <a href="#" class="fashion">Fashion</a>
                                            <p class="bold">Diana say: Vlogging</p>
                                            <p class="size12 opacity6">
                                                <i class="fa fa-calendar"></i> 20 jun 2019 |
                                                <i class="fa fa-commenting"></i> 10
                                            </p>

                                        </div>

                                    </div>



                                    <div class="post-item cricle pl-3">
                                        <div class="post-thumb post-with9">
                                            <div class="zoo">
                                                <img src="./assets/img/images/fashion1.jpg" alt="">
                                            </div>
                                        </div>

                                        <div class="post-info">
                                            <a href="#" class="fashion">Fashion</a>
                                            <p class="bold">Diana say: Vlogging</p>
                                            <p class="size12 opacity6">
                                                <i class="fa fa-calendar"></i> 20 jun 2019 |
                                                <i class="fa fa-commenting"></i> 10
                                            </p>

                                        </div>

                                    </div>

                                    <div class="post-item cricle pl-3">
                                        <div class="post-thumb post-with9">
                                            <div class="zoom">
                                                <img src="./assets/img/images/sec2_img1.jpg" alt="">
                                            </div>
                                        </div>

                                        <div class="post-info">
                                            <a href="#" class="fashion">Fashion</a>
                                            <p class="bold">Diana say: Vlogging</p>
                                            <p class="size12 opacity6">
                                                <i class="fa fa-calendar"></i> 20 jun 2019 |
                                                <i class="fa fa-commenting"></i> 10
                                            </p>

                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="mt-5 ipap_flex">
                            <div class="borderbottom none"></div>
                            <div class="group_same">
                                <div class="cricle m-3">
                                    <ul class="d-flex">
                                        <li><i class="fa fa-genderless gender1"></i></li>
                                        <li><i class="fa fa-genderless gender2"></i></li>
                                        <li><i class="fa fa-genderless gender3"></i></li>
                                        <li><i class="fa fa-genderless gender4"></i></li>
                                        <li><i class="fa fa-genderless gender5"></i></li>
                                        <li class="trending">Recenct posts</li>
                                    </ul>
                                </div>

                                <div class="zoom cricle m-3">
                                    <img src="./assets/img/images/mobi2.jpg" alt="">
                                </div>

                                <div class="post-item cricle m-3">

                                    <div class="post-thumb post-with65 zoom">
                                        <img src="./assets/img/images/sec3_img2.jpg" alt="" style="width: 50; height: 50;">
                                    </div>

                                    <div class="post-info">
                                        <p class="cliquam">Magalla Magazine – News and Business Blog by
                                            EA-Studio
                                        </p>
                                        <p class="size12 opacity6">
                                            <i class="fa fa-calendar"></i> 20 jan 2019 |
                                            <i class="fa fa-commenting"></i> 05
                                        </p>

                                    </div>

                                </div>

                                <div class="post-item cricle m-3">

                                    <div class="post-thumb post-with65 zoom">
                                        <img src="./assets/img/images/sec3_img5.jpg" alt="" style="width: 50; height: 50;">
                                    </div>

                                    <div class="post-info">
                                        <p class="cliquam">Magalla Magazine – News and Business Blog by
                                            EA-Studio
                                        </p>
                                        <p class="size12 opacity6">
                                            <i class="fa fa-calendar"></i> 20 jan 2019 |
                                            <i class="fa fa-commenting"></i> 05
                                        </p>

                                    </div>

                                </div>

                                <div class="post-item cricle m-3">

                                    <div class="post-thumb post-with65 zoom">
                                        <img src="./assets/img/images/sec3_img7.jpg" alt="" style="width: 50; height: 50;">
                                    </div>

                                    <div class="post-info">
                                        <p class="cliquam">Magalla Magazine – News and Business Blog by
                                            EA-Studio
                                        </p>
                                        <p class="size12 opacity6">
                                            <i class="fa fa-calendar"></i> 20 jan 2019 |
                                            <i class="fa fa-commenting"></i> 05
                                        </p>

                                    </div>

                                </div>

                                <div class="post-item cricle m-3">

                                    <div class="post-thumb post-with65 zoom">
                                        <img src="./assets/img/images/sec3_img6.jpg" alt="" style="width: 50; height: 50;">
                                    </div>

                                    <div class="post-info">
                                        <p class="cliquam">Magalla Magazine – News and Business Blog by
                                            EA-Studio
                                        </p>
                                        <p class="size12 opacity6">
                                            <i class="fa fa-calendar"></i> 20 jan 2019 |
                                            <i class="fa fa-commenting"></i> 05
                                        </p>

                                    </div>

                                </div>
                            </div>

                            <div class="effect">
                                <div class="zoom">
                                    <img src="./assets/img/images/sec6_img6.jpg" alt="">
                                </div>
                                <div class="more">
                                    <h2>My book with tour!
                                        <!-- <h3>myTour.vn</h3> -->
                                    </h2>
                                    <h3>myTour.vn</h3>
                                    <a href="">Learn More</a>
                                </div>
                            </div>
                        </div>



                    </div>




                </div>




            </div>
        </div>
    </div>

</main>

<app-footer-page></app-footer-page>